/* 
    Created on : Apr 12, 2016, 5:07:34 PM
    Author     : jhempsey
*/
html, body {
    width: 100%;
}
body {
  background-color: #455A6F;
  color: #CFD8DC;
  font-size: 16px;
}
h1 {
  color: #4CAF50;
  text-align: center;
  font-size: 70px;
  margin-bottom: 0px;
  margin-top: 12px;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
h2 {
  color: #FFFFFB;
  text-align: center;
  font-size: 25px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
h3 {
  color: #212121;
  font-size: 18px;
}
hr {
  height: 3px;
  width: 100%;
  border: 0px;
  background-color: #B6B6B6;
}
b {
  text-align: center;
  font-size: 20px;
}
input {
    margin: 2px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    border: 0;
    border-radius: 6px;
    height: 15px;
    margin-top: 10px;
}

select {
    margin: 5px;
    padding: 2px;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    border: 0;
    border-radius:6px;
    height: 34px;
    width: 200px;
    margin-top: 10px;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}   
table.home-table thead tr td {
    border: 3px solid #B6B6B6;
    padding: 5px;
}
table.home-table tbody tr td {
    border: 3px solid #B6B6B6;
    padding: 5px;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #607D8B;
    color: #FFFFFF;
}
table.home-table tr:hover {
    background-color: #6FD8DC;
    color: #727272;
}

table.ship-form tbody tr td{
    font-size: 17px;
}

.subtitle-div {
	text-align: center;
	font-style: italic;
	font-size: 30px;
}

.center-div {
    text-align: center;
}

.hover-img :hover {
    width: 102%;
    height: 102%;
}
.prod-info {
    padding-left: 30px;
    width: 100%;
    margin: 0 auto;
}

.prod-detail {
    width : 50%;
    padding-left:50px;
}

.float-img {
    width:30%;
    height: 30%;
    float: left;
    margin-right: 30px;
}

.assorted-float-img {
    width:30%;
    float: left;
    margin-right: 30px;
}


.img-preview {
    height:150px;
}

.description {
    width: 100%;
}
.price {
    width: 100%;
	font-size: 125%;
    clear: both;
    float: left;
}

.pepper-name {
	 
}

.form-label {
    margin: 2px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    width: 20%;
}

.hidden {
  visibility: hidden;
}

.overlay {
	position: absolute;
	bottom: 85;
	right: 55;
}

.order {
    clear: both;
    width: 100%;
    margin: 0 auto;
}
.in_txt{
    width: 300px;
    text-align: left;
}
#zip-code {
    width: 100px;
}
#state {
    width: 200px;
}

#submit-btn-div {
    text-align: center;
    width: 100%;
}
#submit-btn {
    height: 34px;
    margin: 0 auto;
}
#management {
    font-size: 35px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
p {
    margin: 2cm 4cm 3cm 4cm;
}
div.prod-detail{ float:right; }
div.inline { float:left; }
.clearBoth { clear:both; }